<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grow</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="index-div"></div>
    <br>
    <fieldset>
        <legend>Light configuration</legend>
        <div class="lightcontainer">
            <input type="checkbox" name="light_mode_auto" value="Automatic"> Automatic </input>
            <input type="checkbox" name="light_mode_man" value="Manual"> Manual </input>
            <br>
            <br>
            <label>Potency Light</label><br>
            <input type="range" min="1" max="100" value="50" class="slider">
        </div>
    </fieldset>
</body>
</html>