<div class="create-div">
    <table>
        <tr>
            <td><label class="text-field">Date</label></td>
            <td><label class="text-field">Mililiter</label></td>
        </tr>
        <tr>
            <h1>Register Watering</h1>
            <form action="{{ url_for('create_watering', id=id) }}" method="post">
                <td><input type="date" class="text-field" name="date"></td>
                <td><input type="number" min="0" max="10000" class="text-field" name="mililiter"></td>
                <td>
                    <button class="btn">
                        <img src="{{ url_for('static', filename='image/create-icon.png')}}" class="btn-img" id="create-btn">
                    </button>
                </td>
            </form>
        </tr>
    </table>
</div>