<button class="btn" onclick="togglePopupMenu('watering-create-container-{{ plant_id }}')">
    WATER
</button>
<div class="overlay" id="watering-create-container-{{ plant_id }}">
    <div class="centralized-div">
        <form action="{{ url_for('create_watering', grow_id=grow_id, plant_id=plant_id) }}" method="post">
            <fieldset>
                <legend>Date</legend>
                <input type="date" class="text-field" name="date">
            </fieldset>
            <fieldset>
                <legend>Mililiter</legend>
                <input type="number" min="0" max="10000" class="text-field" name="mililiter">
            </fieldset>
            <div class="btn-container">
                <button class="btn" type="submit">
                    <img src="{{ url_for('static', filename='image/confirm-icon.png')}}" class="btn-img" id="create-btn">
                </button>
                <button type="button" class="btn" onclick="togglePopupMenu('watering-create-container-{{ plant_id }}')">
                    <img src="{{ url_for('static', filename='image/cancel-icon.png')}}" class="btn-img" id="cancel-btn">
                </button>
            </div>
        </form>
    </div>
</div>