<button class="btn" onclick="togglePopupMenu('damage-create-container-{{ plant_id }}')">
    DAMAGE
</button>
<div class="overlay" id="damage-create-container-{{ plant_id }}">
    <div class="centralized-div">
        <form action="{{ url_for('create_damage', grow_id=grow_id, plant_id=id) }}" method="post">
            <fieldset>
                <legend>Date</legend>
                <input type="date" class="text-field" name="date">
            </fieldset>
            <fieldset>
                <legend>Type</legend>
                <select class="combo-box" name="damage_type_id">
                    {% for did, dname, ddescription in damage_types %}
                        <option value="{{ did }}">{{ dname }}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <fieldset>
                <legend>Intensity</legend>
                <select class="combo-box" name="intensity_id">
                    {% for iid, iname, idescription in intensities %}
                        <option value="{{ iid }}">{{ iname }}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <div class="btn-container">
                <button class="btn" type="submit">
                    <img src="{{ url_for('static', filename='image/confirm-icon.png')}}" class="btn-img" id="create-btn">
                </button>
                <button type="button" class="btn" onclick="togglePopupMenu('damage-create-container-{{ plant_id }}')">
                    <img src="{{ url_for('static', filename='image/cancel-icon.png')}}" class="btn-img" id="cancel-btn">
                </button>
            </div>
        </form>
    </div>
</div>