<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <title>Trainings</title>
</head>
 
<body>
    {% include 'header/index.html'%}

    <div class="index-div">
        <table>
            <tr>
                <td><label class="text-field">ID</label></td>
                <td><label class="text-field">Name</label></td>
                <td><label class="text-field">Date</label></td>
                <td><label class="text-field">Type</label></td>
            </tr>

            {% for id, name, date, training_type_id in trainings %}
                {% include '/training/update.html'%}
            {% endfor %}
        </table>
    </div>

    {% include '/training/create.html'%}
</body>
 
</html>