<div class="create-div">
    <table>
        <tr>
            <h1>Register Transplanting</h1>
            <form action="{{ url_for('create_transplanting', id=id) }}" method="post">
                <td><input type="date" class="text-field" name="date"></td>
                <td><input type="number" min="0" max="10000" class="text-field" name="width"></td>
                <td><input type="number" min="0" max="10000" class="text-field" name="height"></td>
                <td><input type="number" min="0" max="10000" class="text-field" name="radius"></td>
                <td><input type="number" min="0" max="10000" class="text-field" name="depth"></td>
                <td>
                    <button class="btn">
                        <img src="{{ url_for('static', filename='image/create-icon.png')}}" class="btn-img" id="create-btn">
                    </button>
                </td>
            </form>
        </tr>
    </table>
</div>