<button class="btn" onclick="togglePopupMenu('transplanting-create-container-{{ plant_id }}')">
    TRANSPLANT
</button>
<div class="overlay" id="transplanting-create-container-{{ plant_id }}">
    <div class="centralized-div">
        <form action="{{ url_for('create_transplanting', grow_id=grow_id, plant_id=id) }}" method="post">
            <fieldset>
                <legend>Date</legend>
                <input type="date" class="text-field" name="date">
            </fieldset>
            <fieldset>
                <legend>Lenght</legend>
                <input type="number" min="0" max="10000" class="text-field" name="lenght">
            </fieldset>
            <fieldset>
                <legend>Width</legend>
                <input type="number" min="0" max="10000" class="text-field" name="width">
            </fieldset>
            <fieldset>
                <legend>Height</legend>
                <input type="number" min="0" max="10000" class="text-field" name="height">
            </fieldset>
            <fieldset>
                <legend>Radius</legend>
                <input type="number" min="0" max="10000" class="text-field" name="radius">
            </fieldset>
            <div class="btn-container">
                <button class="btn" type="submit">
                    <img src="{{ url_for('static', filename='image/confirm-icon.png')}}" class="btn-img" id="create-btn">
                </button>
                <button type="button" class="btn" onclick="togglePopupMenu('transplanting-create-container-{{ plant_id }}')">
                    <img src="{{ url_for('static', filename='image/cancel-icon.png')}}" class="btn-img" id="cancel-btn">
                </button>
            </div>
        </form>
    </div>
</div>