<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <title>Transplantings</title>
</head>
 
<body>
    {% include 'header/index.html'%}

    <div class="index-div">
        <table>
            <tr>
                <td><label class="text-field">ID</label></td>
                <td><label class="text-field">Date</label></td>
                <td><label class="text-field">Width</label></td>
                <td><label class="text-field">Height</label></td>
                <td><label class="text-field">Radius</label></td>
                <td><label class="text-field">Depth</label></td>
            </tr>

            {% for id, date, width, height, radius, depth in transplantings %}
                {% include '/transplanting/update.html'%}
            {% endfor %}
        </table>
    </div>

    {% include '/transplanting/create.html'%}

</body>
 
</html>