<div class="grow-container" id="grow-container-{{ id }}">
    <table>
        <tr><td>ID</td><td>{{ id }}</td></tr>
        <tr><td>Name</td><td>{{ grow_name }}</td></tr>
        <tr><td>Lenght</td><td>{{ grow_lenght }}</td></tr>
        <tr><td>Width</td><td>{{ grow_width }}</td></tr>
        <tr><td>Height</td><td>{{ grow_height }}</td></tr>
    </table>

    {% include 'grow/update.html'%}
    
    
    <div class="grow-item-container">
        <legend>Sensors</legend>
        {% include '/sensor/create.html'%}
        <div class="grow-item-scroll-container">
            {% for sensor_id, grow_id, ip, name, sensor_type_id, last_value in sensors[id] %}
                {% include '/sensor/index.html'%}
            {% endfor %}
        </div>
    </div>

    <div class="grow-item-container">
        <legend>Effectors</legend>
        {% include '/effector/create.html'%}
        <div class="grow-item-scroll-container">
            {% for effector_id, grow_id, effector_type_id, name, ip, normal_on, power_on, scheduled, on_time, off_time, bounded, bounded_sensor_id, threshold in effectors[id] %}
                {% include '/effector/index.html'%}
            {% endfor %}
        </div>
    </div>

    <!-- <div class="grow-item-container">
        <legend>Plants</legend>
        {% include '/plant/create.html'%}
        <div class="grow-item-scroll-container">
            {% for plant_id, grow_id, name, start_date, end_date, photoperiod_id, gender_id, harvested, yield in plants[id] %}
                {% include '/plant/index.html'%}
            {% endfor %}
        </div>
    </div> -->
</div>
