
<button class="btn" onclick="togglePopupMenu('effector-create-container-{{ id }}')">
    <img src="{{ url_for('static', filename='image/create-icon.png')}}" class="btn-img" id="create-btn">
</button>
<div class="overlay" id="effector-create-container-{{ id }}">
    <div class="centralized-div">
        <form action="{{ url_for('create_effector', grow_id=id) }}" method="post">
            <fieldset>
                <legend>Name</legend>
                <input type="text" class="text-field" name="name">
            </fieldset>

            <fieldset>
                <legend>Effector Type</legend>
                <select id="effector-type-id-{{ id }}" class="combo-box" name="effector_type_id">
                    {% for eid, ename, edescription in effector_types %}
                        <option value="{{ eid }}">{{ ename }}</option>
                    {% endfor %}
                </select>
            </fieldset>

            <div class="btn-container">
                <button class="btn" type="submit">
                    <img src="{{ url_for('static', filename='image/confirm-icon.png')}}" class="btn-img" id="create-btn">
                </button>
                <button type="button" class="btn" onclick="togglePopupMenu('effector-create-container-{{ id }}')">
                    <img src="{{ url_for('static', filename='image/cancel-icon.png')}}" class="btn-img" id="cancel-btn">
                </button>
            </div>
        </form>
    </div>
</div>