<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    {% include 'header.html'%}

    <fieldset class="card" >
        <legend>Settings:</legend>

        <form action="{{ url_for('grow_settings_cmd') }}" method="post">
            {% if auto_mode %}
                <br>
                <label>Automatic</label>
                <input type="checkbox" name="auto_mode" id="auto_mode" checked>
                <br>
            {% else %}
                <br>
                <label>Automatic</label>
                <input type="checkbox" name="auto_mode" id="auto_mode">
                <br>
            {% endif %}

            <br>
            <label>Light Activation: </label>
            <input type="time" class="text-field" name="act_time" value="{{ light_act_time }}" id="act_time">
            <br>
            <br>
            <label>Light Deactivation: </label>
            <input type="time" class="text-field" name="deact_time" value="{{ light_deact_time }}" id="deact_time"/>
            <br>
            <br>
            <label>Desired Humidity: </label>
            <input type="number" min="0" max="100" value="{{ desired_humidity }}" name="desired_humidity" id="desired_humidity"/>
            <br>
            <br>
            <label>Desired Temperature: </label>
            <input type="number" min="0" max="30" value="{{ desired_temperature }}" name="desired_temperature" id="desired_temperature"/>
            <br>
            

            {% if auto_mode %}
                <br>
                <label>Circulation Capacity: </label>
                <input type="number" min="0" max="100" value="{{ circulation }}" name="circ_input" id="circ_input" disabled/>
                <input type="range" min="0" max="100" value="{{ circulation }}" name="circulation" id="circulation" disabled>
                <br>
                <br>
                <label>Ventilation Capacity: </label>
                <input type="number" min="0" max="100" value="{{ ventilation }}" name="vent_input" id="vent_input" disabled />
                <input type="range" min="0" max="100" value="{{ ventilation }}" name="ventilation" id="ventilation" disabled/>
                <br>
            {% else %}
                <br>
                <label>Circulation Capacity: </label>
                <input type="number" min="0" max="100" value="{{ circulation }}" name="circ_input" id="circ_input" oninput="this.form.circulation.value=this.value"/>
                <input type="range" min="0" max="100" value="{{ circulation }}" name="circulation" id="circulation" oninput="this.form.circ_input.value=this.value"/>
                <br>
                <br>
                <label>Ventilation Capacity: </label>
                <input type="number" min="0" max="100" value="{{ ventilation }}" name="vent_input" id="vent_input" oninput="this.form.ventilation.value=this.value" />
                <input type="range" min="0" max="100" value="{{ ventilation }}" name="ventilation" id="ventilation" oninput="this.form.vent_input.value=this.value">
                <br>
            {% endif %}

            {% if auto_mode %}
                <br>
                <label>Humidifier Active</label>
                {% if humidifier_on %}
                    <input type="checkbox" name="humidifier_on" id="humidifier_on" checked disabled>
                {% else %}
                    <input type="checkbox" name="humidifier_on" id="humidifier_on" disabled>
                {% endif %}
                <br>
            {% else %}
                <br>
                <label>Humidifier Active</label>
                {% if humidifier_on %}
                    <input type="checkbox" name="humidifier_on" id="humidifier_on" checked>
                {% else %}
                    <input type="checkbox" name="humidifier_on" id="humidifier_on">
                {% endif %}
                <br>
            {% endif %}

            {% if auto_mode %}
                <br>
                <label>Heater Active</label>
                {% if heater_on %}
                    <input type="checkbox" name="heater_on" id="heater_on" checked disabled>
                {% else %}
                    <input type="checkbox" name="heater_on" id="heater_on" disabled>
                {% endif %}
                <br>
            {% else %}
                <br>
                <label>Heater Active</label>
                {% if heater_on %}
                    <input type="checkbox" name="heater_on" id="heater_on" checked>
                {% else %}
                    <input type="checkbox" name="heater_on" id="heater_on">
                {% endif %}
                <br>
            {% endif %}

            <br>
            <button class="btn" > 
                <img src="{{ url_for('static', filename='image/confirm-icon.png')}}" class="btn-img" id="create-btn">
            </button>
            <br>

        </form>
    </fieldset>
</body>
</html>