body{
    background-color: blue;
}

#box{
    background-color: whitesmoke;
    border-radius: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25%;
    margin-bottom: 25%;
}

.text_field{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}
.label{
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

#bt{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;

    width: 100px;
    height: auto;
}