<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <title>Plants</title>
</head>
 
<body>
    {% include 'header.html'%}

    <div class="index-div">
        <table>
            <tr>
                <td><label class="text-field">ID</label></td>
                <td><label class="text-field">Name</label></td>
                <td><label class="text-field">Date</label></td>
                <td><label class="text-field">Photoperiod</label></td>
                <td><label class="text-field">Gender</label></td>
                <td><label class="text-field">Alive</label></td>
                <td><label class="text-field">Harvested</label></td> 
            </tr>

            {% for id, name, date, alive, harvested, photoperiod_id, gender_id in plants %}
                {% include '/plant/update.html'%}
            {% endfor %}
        </table>
    </div>

    {% include '/plant/create.html'%}
</body>
 
</html>