<div name="plant-{{ id }}">
    <tr>
        <form action="{{ url_for('update_plant', id=id) }}" method="post">
            <td><label>{{ id }}</label></td>
    
            <td><input id="name-{{ id }}" type="text" class="text-field" name="name" value="{{ name }}"></td>
            <td><input id="date-{{ id }}" type="text" class="text-field" name="date" value="{{ date }}"></td>
            

            <td><select id="photoperiod-id-{{ id }}" class="combo-box" name="photoperiod_id">
                {% for pid, pname, pdescription in photoperiods %}
                    {% if pid == photoperiod_id %}
                        <option value="{{ pid }}" selected>{{ pname }}</option>
                    {% else %}
                        <option value="{{ pid }}">{{ pname }}</option>
                    {% endif %}
                {% endfor %}
            </select></td>

            <td><select id="gender-id-{{ id }}" class="combo-box" name="gender_id">
                {% for gid, gname, gdescription in genders %}
                    {% if gid == gender_id %}
                        <option value="{{ gid }}" selected>{{ gname }}</option>
                    {% else %}
                        <option value="{{ gid }}">{{ gname }}</option>
                    {% endif %}
                {% endfor %}
            </select></td>

            {% if alive == 1 %}
                <td><input id="alive-{{ id }}" type="checkbox" class="checkbox-field" name="alive" checked></td>
            {% else %}
                <td><input id="alive-{{ id }}" type="checkbox" class="checkbox-field" name="alive"></td>
            {% endif %}

            {% if harvested == 1 %}
                <td><input id="harvested-{{ id }}" type="checkbox" class="checkbox-field" name="harvested" checked></td>
            {% else %}
                <td><input id="harvested-{{ id }}" type="checkbox" class="checkbox-field" name="harvested"></td>
            {% endif %}

            <td>
                <button class="action-btn" name="update-plant-{{ id }}">
                    <img src="{{ url_for('static', filename='image/edit-icon.png')}}" class="action-btn-img">
                </button>
            </td>
        </form>
        <form action="{{ url_for('delete_plant', id=id) }}" method="post">
            <td>
                <button class="action-btn" name="delete-device-{{ id }}">
                    <img src="{{ url_for('static', filename='image/trash-icon.png')}}" class="action-btn-img">
                </button>
            </td>
        </form>
        <form action="{{ url_for('watering', id=id) }}" method="post">
            <td>
                <button class="action-btn">
                    <img src="{{ url_for('static', filename='image/watering-icon.png')}}" class="action-btn-img">
                </button>
            </td>
        </form>
        <form action="{{ url_for('feeding', id=id) }}" method="post">
            <td>
                <button class="action-btn">
                    <img src="{{ url_for('static', filename='image/feeding-icon.png')}}" class="action-btn-img">
                </button>
            </td>
        </form>
        <form action="{{ url_for('training', id=id) }}" method="post">
            <td>
                <button class="action-btn">
                    <img src="{{ url_for('static', filename='image/training-icon.png')}}" class="action-btn-img">
                </button>
            </td>
        </form>
        <form action="{{ url_for('transplanting', id=id) }}" method="post">
            <td>
                <button class="action-btn">
                    <img src="{{ url_for('static', filename='image/transplanting-icon.png')}}" class="action-btn-img">
                </button>
            </td>
        </form>
        <form action="{{ url_for('damage', id=id) }}" method="post">
            <td>
                <button class="action-btn">
                    <img src="{{ url_for('static', filename='image/damage-icon.png')}}" class="action-btn-img">
                </button>
            </td>
        </form>
        <form action="{{ url_for('harvest', id=id) }}" method="post">
            <td>
                <button class="action-btn">
                    <img src="{{ url_for('static', filename='image/harvest-icon.png')}}" class="action-btn-img">
                </button>
            </td>
        </form>
        
    </tr>
</div>