<div class="create-div">
    <table>
        <tr>
            <td><label class="text-field">Date</label></td>
            <td><label class="text-field">Dosage</label></td>
            <td><label class="text-field">Nitrogen</label></td>
            <td><label class="text-field">Phosphorus</label></td>
            <td><label class="text-field">Potassium</label></td>
            <td><label class="text-field">Concentration</label></td>
        </tr>
        <tr>
            <h1>Register Transplanting</h1>
            <form action="{{ url_for('create_feeding', id=id) }}" method="post">
                <td><input type="date" class="text-field" name="date" value="{{ date }}"></td>
                <td><input type="number" min="0" max="10000" class="text-field" name="dosage"></td>
                <td><input type="number" min="0" max="10000" class="text-field" name="nitrogen"></td>
                <td><input type="number" min="0" max="10000" class="text-field" name="phosphorus"></td>
                <td><input type="number" min="0" max="10000" class="text-field" name="potassium"></td>
                <td><input type="number" min="0" max="10000" class="text-field" name="concentration"></td>
                <td>
                    <button class="btn">
                        <img src="{{ url_for('static', filename='image/create-icon.png')}}" class="btn-img" id="create-btn">
                    </button>
                </td>
            </form>
        </tr>
    </table>
</div>