.header-div{
    display:flex;
    align-items: center;
    flex-direction: row;
    background-color:rgb(0, 150, 0);
    height: fit-content;
}

.header-btn{
    background-color:rgb(0, 150, 0);
    color:aliceblue;
    width:fit-content;
    height:fit-content;
    margin:10px;
    border-style: none;
    border-radius: 5px;
}

.header-btn:active {
    background-color: rgb(0, 150, 0);
    transform: translateY(1px);
    transform: translateX(1px); 
} 

.header-btn:hover{
    background-color:rgb(80, 150, 80);
}

.header-btn-img{
    width: 28px; 
    height: 28px;
    /* padding: 5px; */
}

#logout-img{
    transform: translateY(10px);
    transform: translateX(2px);
}

.btn {
    background-color:rgb(0, 150, 0);
    color:aliceblue;
    width:fit-content;
    height:fit-content;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:active {
    background-color: rgb(80, 150, 80);
    transform: translateY(1px);
    transform: translateX(1px);
}

.btn:hover{
    background-color:rgb(185, 235, 185);
}

.btn-img{
    width: 28px; 
    height: 28px;
}

#create-btn{
    transform: translateY(1.5px);
}

.combo-box{
    font-size: 14px;
    width: 150px;
    height: 28px;
}

.text-field{
    font-size: 14px;
    width: 150px;
    height: 22px;
    padding: 1px;
}

.checkbox-field{
    font-size: 14px;
    min-width: 22px;
    min-height: 22px;
    padding: 1px;
}

.centralized-div{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: auto; /* Full width (cover the whole page) */
    height: auto; /* Full height (cover the whole page) */
    padding: 2%;
}

.number-field{
    font-size: 14px;
    width: 150px;
    height: 22px;
    padding: 1px;
}

.card{
    width:fit-content;
    border-radius: 15px;
    border-style: solid;
}

.plant-div{
    display: none;
}

.menu-div{
    display: none;
    position: relative;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#close-btn
{
    margin-left: 100%; 
    margin-right: 0;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    /* cursor: pointer; Add a pointer on hover */
    align-self: center;
}

.content-table{
    border-collapse: collapse;
}

.plant-container{
    display: flex;
    justify-content: space-evenly;
    max-width: 1180px;
    min-width: 1180px;
}

.table-container {
    max-height: 150px; /* Set the height of the scrollable area */
    min-height: 150px;
    min-width: fit-content;
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc;
}

.grow-plants-container {
    max-height: 500px; /* Set the height of the scrollable area */
    min-height: 500px;
    min-width: fit-content;
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc;
}

fieldset {
    align-items: center;
    width: fit-content;
    height: fit-content;
    background-color: white;
}

.btn-container {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;    /* Vertically center */
}