.header-container{
    display:flex;
    align-items: center;
    flex-direction: row;
    background-color:rgb(0, 150, 0);
    height: fit-content;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}

.btn {
    background-color:rgb(0, 150, 0);
    color:aliceblue;
    width:fit-content;
    height:fit-content;
    border-style: none;
    cursor: pointer;
    min-height: 35px;
    max-height: 35px;
    min-width: 100px;
    max-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.btn:active {
    background-color: rgb(80, 150, 80);
    transform: translateY(1px);
    transform: translateX(1px);
}

.btn:hover{
    background-color:rgb(185, 235, 185);
}

.btn-img{
    width: 28px; 
    height: 28px;
}

.combo-box{
    font-size: 14px;
    width: 150px;
    height: 28px;
}

.text-field{
    font-size: 14px;
    width: 150px;
    height: 22px;
    padding: 1px;
}

.checkbox-field{
    font-size: 14px;
    min-width: 22px;
    min-height: 22px;
    padding: 1px;
}

.centralized-div{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: auto; /* Full width (cover the whole page) */
    height: auto; /* Full height (cover the whole page) */
    padding: 2%;
}

.number-field{
    font-size: 14px;
    width: 150px;
    height: 22px;
    padding: 1px;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    /* cursor: pointer; Add a pointer on hover */
    align-self: center;
}

.table-container {
    max-height: 150px; /* Set the height of the scrollable area */
    min-height: 150px;
    min-width: fit-content;
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc;
}

.watering-container{
    display: inline-block;
    border: 1px solid #ccc;
    padding: 20px;
}

.feeding-container{
    display: inline-block;
    border: 1px solid #ccc;
    padding: 20px;
}

.training-container{
    display: inline-block;
    border: 1px solid #ccc;
    padding: 20px;
}

.damage-container{
    display: inline-block;
    border: 1px solid #ccc;
    padding: 20px;
}

.transplanting-container{
    display: inline-block;
    border: 1px solid #ccc;
    padding: 20px;
}

.grow-item-container {
    display: block;
    border: 1px solid #ccc;
    padding: 20px;  
    max-width: fit-content;
    min-width: fit-content;
    padding: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.grow-item-scroll-container {
    max-height: 300px; /* Set the height of the scrollable area */
    min-height: 300px;
    max-width: fit-content;
    min-width: fit-content;
    overflow-x: auto; /* Enable horizontal scrolling */
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.item-container{
    display: flex;
    justify-content: space-evenly;
    max-width: 320px;
    min-width: 320px;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

fieldset {
    align-items: center;
    width: fit-content;
    height: fit-content;
    background-color: white;
}

.btn-container {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;    /* Vertically center */
}

.grow-container{
    display: none; /* Hidden by default */
    border: 1px solid #ccc;
    padding: 20px;  
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.user-grows-container{
    border: 1px solid #ccc;
    padding: 20px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}

/* Dropdown Content (Hidden by Default) */
.item-edit-btn-container {
  background-color: #f1f1f1;
  min-width: 80px;
  max-width: 80px;
  max-height: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.effector-on {
  height: 20px;
  width: 20px;
  background-color:rgb(0, 150, 0);
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.effector-off {
  height: 18px;
  width: 18px;
  background-color:rgb(150, 0, 0);
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin: 5px;
}