
<fieldset class="card" >
    <legend>Humidity:</legend>
    <form action="{{ url_for('humidifier_cmd') }}" method="post">
        {% if auto_mode == 1 %}
            <br>
            <label>Active</label>
            {% if humidifier_on %}
                <input type="checkbox" name="active" id="active" checked disabled>
            {% else %}
                <input type="checkbox" name="active" id="active" disabled>
            {% endif %}
            <br>
        {% else %}
            <br>
            <label>Active</label>
            {% if humidifier_on %}
                <input type="checkbox" name="active" id="active" checked>
            {% else %}
                <input type="checkbox" name="active" id="active">
            {% endif %}
            <br>
        {% endif %}
        <br>
        <button class="btn" > apply </button>
        <br>
    </form>
</fieldset>
