<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    {% include 'header.html'%}

    <fieldset class="card" >
        <legend>Environment:</legend>
        <div>
            <br>
            <label> Temperature: {{ temperature }}°C</label>
            <br>
            <br>
            <label> Humidity: {{ humidity }} %</label>
            <br>
            <br>
            <label> Ventilation Capacity: {{ ventilation_capacity }} %</label>
            <br>
            <br>
            <label> Circulation Capacity: {{ circulation_capacity }} %</label>
            <br>
            <br>
            <label> Umidifier: {{ umidifier_on }} </label>
            <br>
        </div>
    </fieldset>
  
</body>
</html>