
<fieldset class="card" >
    <legend>Wind:</legend>
    <form action="{{ url_for('wind_config_cmd') }}" method="post">
        {% if auto_mode == 1 %}
            <br>
            <label>Circulation Capacity: </label>
            <input type="number" min="0" max="100" value="{{ circulation }}" name="circ_input" id="circ_input" disabled/>
            <input type="range" min="0" max="100" value="{{ circulation }}" name="circulation" id="circulation" disabled>
            <br>
            <br>
            <label>Ventilation Capacity: </label>
            <input type="number" min="0" max="100" value="{{ ventilation }}" name="vent_input" id="vent_input" disabled />
            <input type="range" min="0" max="100" value="{{ ventilation }}" name="ventilation" id="ventilation" disabled/>
            <br>
        {% else %}
            <br>
            <label>Circulation Capacity: </label>
            <input type="number" min="0" max="100" value="{{ circulation }}" name="circ_input" id="circ_input" oninput="this.form.circulation.value=this.value"/>
            <input type="range" min="0" max="100" value="{{ circulation }}" name="circulation" id="circulation" oninput="this.form.circ_input.value=this.value"/>
            <br>
            <br>
            <label>Ventilation Capacity: </label>
            <input type="number" min="0" max="100" value="{{ ventilation }}" name="vent_input" id="vent_input" oninput="this.form.ventilation.value=this.value" />
            <input type="range" min="0" max="100" value="{{ ventilation }}" name="ventilation" id="ventilation" oninput="this.form.vent_input.value=this.value">
            <br>
        {% endif %}
        <br>
        <button class="btn" > apply </button>
        <br>
    </form>
</fieldset>
