<div class="create-div">
    <table>
        <tr>
            <h1>Register Training</h1>

            <form action="{{ url_for('create_plant', id=id) }}" method="post">

                <td><input type="date" class="text-field" name="date"></td>

                <td><select class="combo-box" name="training_type_id">
                    {% for tid, tname, tdescription in training_types %}
                        <option value="{{ tid }}">{{ tname }}</option>
                    {% endfor %}
                </select></td>

                <td>
                    <button class="action-btn">
                        <img src="{{ url_for('static', filename='image/create-icon.png')}}" class="action-btn-img" id="create-btn">
                    </button>
                </td>

            </form>
        </tr>
    </table>
</div>