<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheet/login.css" />
    <link rel="stylesheet" type="text/css" href="stylesheet/utils.css" />
    <script src="https://kit.fontawesome.com/44d7bbdc0c.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>

<body>

    <div class="caixas">
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <div class="login100-pic js-tilt" data-tilt>
                        <img src="images/logo.png" alt="IMG" class="image2">
                    </div>

                    <form class="login100-form validate-form">
                        <span class="login100-form-title">
                            <b>Seja Bem-Vindo(a)</b>
                        </span>

                        <div class="wrap-input100 validate-input" data-validate="Insira um e-mail válido: nome@nome.com">
                            <input class="input100" type="text" name="email" placeholder="E-mail">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Senha necessária">
                            <input class="input100" type="password" name="pass" placeholder="Senha">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn">
                                Entrar
                            </button>
                        </div>
                        <div class="text-center p-t-136">
                            <a class="txt2" href="#">
                                Criar nova conta
                            </a>
                        </div>
                    </form>
                </div>

                <script language="javascript">
                <!--            
                    (function ($) {
                        "use strict"; var input = $('.validate-input .wrap-input100 validate-input'); $('.validate-form').on('submit', function () {
                            var check = true; for (var i = 0; i < input.length; i++) { if (validate(input[i]) == false) { showValidate(input[i]); check = false; } }
                            return check;
                        }); $('.validate-form .caixa-email').each(function () { $(this).focus(function () { hideValidate(this); }); }); function validate(input) {
                            if ($(input).attr('type') == 'email' || $(input).attr('name') == 'email') { if ($(input).val().trim().match(/^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{1,5}|[0-9]{1,3})(\]?)$/) == null) { return false; } }
                            else { if ($(input).val().trim() == '') { return false; } }
                        }
                        function showValidate(input) { var thisAlert = $(input).parent(); $(thisAlert).addClass('alert-validate'); }
                        function hideValidate(input) { var thisAlert = $(input).parent(); $(thisAlert).removeClass('alert-validate'); }
                    })(jQuery);
                \\-->
                </script>

</body>

</html>